.sedan-regular {
    font-family: "Noto Sans Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: "Admiration Pains";
    src:
        url("Admiration Pains.ttf") format("opentype");
    font-display: swap;

}

@font-face {
    font-family: "Platypi";
    src:
        url("Platypi-VariableFont_wght.ttf") format("opentype");
}

.s {
    font-family: Admiration Pains, sans-serif;
    font-weight: bold;
}

.b {
    font-family: Platypi;
}